@font-face {
    font-family: 'fredoka';
    src: url('../fonts/fredoka.woff2') format('woff2'),
         url('../fonts/fredoka.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


*{
    font-family: 'fredoka';

}
p,h1,h2,h3,h4{
    color:$black;
    line-height: 1;
}
p,span,div,button{
    @include screen-md{
        font-size: 1rem;
    }
    @include screen-sm{
        font-size:0.9rem;
    }
    font-size:0.8rem;
}

h1{
    @include screen-sm{
        font-size: 2.5rem;
        margin: 1rem 0;
    }
    font-size:1.7rem;
    margin: 0.7rem 0;
}
h2{
    @include screen-sm{
        font-size:2rem;
        margin:0.8rem 0; 
    }
    font-size:2rem;
    font-weight: 600;
    margin:0.5rem 0;
}